<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosk</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/kiosk.css') }}">
</head>
<body>
    <header>
        <h1>Live</h1>
    </header>
    <img id="video-feed" src="" alt="Video Feed">
    <script>
        const videoFeed = document.getElementById('video-feed');
        const updateInterval = 1000;

        function updateImage() {
            videoFeed.src = "/Video"; 
            setTimeout(updateImage, updateInterval);
        }

        window.onload = updateImage;
    </script>
        <div>
            <p>date</p>
            <img src = "https://assets.petco.com/petco/image/upload/f_auto,q_auto/rabbit-care-sheet" style = "width: 200px;">
            <p>Age</p>
            <p>Emotion</p>
        </div>
    <footer> 
        <h1>foot</h1>
    </footer>
</body>
</html>