body {
    background-color: #E1F7FF;
    height: 100% ;
    margin: 0;
}
.all{
    height: 100vh;
}
  .container {
    width: 80%;
    margin: auto;
    padding: 2rem;
    text-align: center;
    
  }
  .box{
    display:flex;
    flex-direction: row;
  }
  .greeting {
    align-items: center;
    justify-content: center;
    width: 8%;
    margin-right: 40%;
  }
  .feeling{
    align-items: center;
    justify-content: center;

  }
  .feeling-section {
    display:flex;
    flex-direction: row;
    align-items: center;

  }
  input{
   display: flex;
   min-width: 43%;
   max-width: 15;
   size: 20px;
   border: 1px solid rgb(196, 196, 196);
   border-radius: 10px;
   justify-content: center;
  }
  #text-feel {
    margin-left: 25px;
    margin-right: 49px;
  }
  #text-feel2{
    margin-right: 30px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  .big-box{
    width: 80%;
    margin: auto;
    padding: 1rem;
    display:flex;
    flex-direction: row;
  
  }
  .greeting2 {
    align-items: center;
    justify-content: center;
    width: 8%;
    margin-right: 37.5%;
    margin-left: 39px ;
   
  }
  .feeling2{
    align-items: center;
    justify-content: center;
  }
  .box-colluem{
    width: 75%;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0.5rem;
    display:flex;
    flex-direction: row;
    background-color: #fff;
    border: 1px solid rgb(205, 209, 212);
  }
  .h{
    align-items: center;
    justify-content: center;
    width: 43%;
    margin-right: 70px;
   
  }
  .f{
    align-items: center;
    justify-content: center;
    width: 10%;
    margin-right: 520px;
  }